<div class="mt-xl px-xl">
  <header class="w-100 d-flex justify-content-between align-items-center">
    <a href="/" class="font-logo font-2xl fw-bold logo">f<span class="highlight">l</span>ow</a>
    <ul class="nav font-xs fw-bold">
      <li class="nav-item me-3"><a href="">Home</a></li>
      <li class="nav-item me-3"><a href="">Features</a></li>
      <li class="nav-item"><a href="">About</a></li>
    </ul>
    <button (click)="redirectLogin()" class="auth-btn font-xs">
      Sign Up <app-icon-button icon="bi-arrow-right"></app-icon-button>
    </button>
  </header>
  <div class="hero d-flex flex-column">
    <div class="d-flex flex-column font-hero fw-bold">
      <p>Experience Effortless</p>
      <p>Budgeting for the 21st Century</p>
    </div>
    <p class="my-3 color-grey-dark">Meet your new financial assistant</p>
    <div class="d-flex align-items-center">
      <button (click)="redirectLogin()" class="auth-btn font-xs">Sign Up</button>
      <a class="ms-3 font-sm">Learn More</a>
    </div>
  </div>
</div>
