<ng-container>
  <form #userForm="ngForm" (ngSubmit)="onSubmit()" class="d-flex flex-column h-100 md:px-4xl">
    <div class="modal-header d-flex justify-content-center border-0">
      <h1 class="font-logo font-2xl fw-bold text-center m-0">Welcome to flow!</h1>
    </div>
    <div class="modal-body mt-2xl mb-xl">
      <p class="font-md mb-4xl text-center md:text-left">First off, let's get to know you.</p>
      <app-loader *ngIf="loading"></app-loader>
      <div *ngIf="!loading" class="form d-flex flex-column align-items-center">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="fname">Legal First Name<span class="color-red">*</span></label>
              <input id="fname" #fname="ngModel" [(ngModel)]="req.fname" name="fname" type="text" class="form-control"
                required />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="lname">Legal Surname<span class="color-red">*</span></label>
              <input id="lname" #lname="ngModel" [(ngModel)]="req.lname" name="lname" type="text" class="form-control"
                required />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="prefName">Preferred Name</label>
              <input id="prefName" #prefName="ngModel" [(ngModel)]="req.prefName" name="prefName" type="text"
                class="form-control" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="dob">Date of Birth<span class="color-red">*</span></label>
              <input type="date" id="dob" [max]="maxDOB" #dob="ngModel" [(ngModel)]="req.dob" name="dob"
                class="form-control" required />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="email">Email<span class="color-red">*</span></label>
              <input id="email" #email="ngModel" [(ngModel)]="req.email" type="email" name="email"
                class="form-control full" disabled required />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="street">Street Address<span class="color-red">*</span></label>
              <input id="street" #street="ngModel" [(ngModel)]="req.street" type="street" name="street"
                class="form-control full" required />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="street2">Street Address 2</label>
              <input id="street2" #street2="ngModel" [(ngModel)]="req.street2" type="street2" name="street2"
                class="form-control full" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="city">City/Region<span class="color-red">*</span></label>
              <input id="city" #city="ngModel" [(ngModel)]="req.city" type="city" name="city" class="form-control short"
                required />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="postal">Postal Code<span class="color-red">*</span></label>
              <input id="postal" #postal="ngModel" [(ngModel)]="req.postal" type="text" name="postal"
                class="form-control short" required />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="country">Country<span class="color-red">*</span></label>
              <!-- TODO: replace with select -->
              <input id="country" #country="ngModel" [(ngModel)]="req.country" type="text" name="country"
                class="form-control short" required />
            </div>
          </div>
          <div class="col"></div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="next-btn ps-lg" [disabled]="!userForm.valid">
        Next <span><i class="bi bi-arrow-right-short font-xl"></i></span>
      </button>
    </div>
  </form>
</ng-container>
