@import "../../scss/variables";

.logo {
  .highlight {
    color: $blue;
    @include transition;
  }

  &:hover {
    .highlight {
      color: $black;
    }
  }
}

.auth-btn {
  @include button;
  padding: rem(3) $space-xl;
  font-weight: bold;
}

.hero {
  margin-top: 6rem;

  .auth-btn {
    @include button($outline: false);
    padding: rem(2) $space-xl;
  }
}
