@import "variables";

/*****************************
* COLORS
*****************************/
$colors: (
  "black": $black,
  "blue": $blue,
  "grey": $grey,
  "grey-light": $grey-light,
  "grey-dark": $grey-dark,
  "gold": $gold,
  "green-soft": $green-soft,
  "red": $red,
);
@each $name, $color in $colors {
  .color-#{$name} {
    color: $color !important;
  }
  .bg-#{$name} {
    background: $color !important;
  }
}

/*****************************
* FONTS
*****************************/
.font-logo {
  font-family: $font-logo !important;
}
.font-accent {
  font-family: $font-hero !important;
}

$fonts: (
  "hero": $font-hero,
  "3xl": $font-2xl,
  "2xl": $font-2xl,
  "xl": $font-xl,
  "lg": $font-lg,
  "md": $font-md,
  "sm": $font-sm,
  "xs": $font-xs,
  "2xs": $font-2xs,
  "3xs": $font-3xs,
);
@each $size, $font in $fonts {
  .font-#{$size} {
    font-size: $font !important;
  }
}

/*****************************
* SPACING
*****************************/
$spaces: (
  "4xl": $space-4xl,
  "3xl": $space-3xl,
  "2xl": $space-2xl,
  "xl": $space-xl,
  "lg": $space-lg,
  "md": $space-md,
  "sm": $space-sm,
  "xs": $space-xs,
  "2xs": $space-2xs,
  "3xs": $space-3xs,
);
$sides: (
  "t": "top",
  "b": "bottom",
  "s": "left",
  "e": "right",
);
@each $size, $space in $spaces {
  .mx-#{$size} {
    margin-left: $space !important;
    margin-right: $space !important;
  }
  .my-#{$size} {
    margin-top: $space !important;
    margin-bottom: $space !important;
  }

  .px-#{$size} {
    padding-left: $space !important;
    padding-right: $space !important;
  }
  .py-#{$size} {
    padding-top: $space !important;
    padding-bottom: $space !important;
  }

  @each $abbrev, $side in $sides {
    .m#{$abbrev}-#{$size} {
      margin-#{$side}: $space !important;
    }
    .p#{$abbrev}-#{$size} {
      padding-#{$side}: $space !important;
    }
  }
}
